<!DOCTYPE html>
<html>
  <head>
    <!--script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArXEvyWLOJs-JGPMjqpTSRMYgVyol8dX8"></script-->
    <style>
        #map {
            height: 600px;
            width: 100%;
        }

    </style>
  </head>
  <body>
<p id="notice"><%= notice %></p>

<div class="wrapper">
<div class="logo"><a href="index"><image src="/logo_a.png" class="main"></image></a></div>
<ul class="tnb">
  <li class="log">
     <% if user_signed_in? %>
     <%= link_to "Logout", destroy_user_session_path, style:"text-decoration:none !important; color:#d1cabc; font-family: 'WONDotum'; font-weight:bold;" %>
    <% else %>
    <%= link_to "Login", new_user_session_path, style:"text-decoration:none !important; color:#d1cabc; font-family: 'WONDotum'; font-weight:bold;" %>
    <% end %>
    </li>
</ul>
</div>

<!--상단바-->
     <ul class="nav">
       <div class="menu">
        <li><a class="active" href="/beer">Beer</a></li>
        <li><a href="/brewery">Brewery</a></li>
        <li><a href="#community">Community</a></li>
        <li class="dropdown">
    <a href="/mypage" class="dropbtn">My Page</a>
    <div class="dropdown-content">
      <a href="/beertap" style="color:black;">Beer Tap</a>
      <a href="/mywriting" style="color:black;">작성글</a>
      <a href="#" style="color:black;">스크랩</a>
      <a href="/mypage" style="color:black;">info</a>
      </div>
    </div>
  </li>
</ul>

<div class="bodywrapper">
<div class="container">

<h1>New Brewerypost</h1>

<%= render 'form' %>

</div>
</div>

<!--<div class="footer">ⓒ 2018  Beer SNS</div>-->
</body>
</html>