<!DOCTYPE html>

<html>
   <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Adamina|Bangers|Do+Hyeon|Paytone+One|Sarala|Vibur" rel="stylesheet">
  <head>
     <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="mystyle.css" type="text/css"/>
   </head>
  <body>
      
  	
  	<style>
  		.style1 {
  			font-family: 'Do Hyeon';
  		}
  	</style>

<div class="wrapper">
<div class="logo"><a href="index"><image src="/logo_a.png" class="main"></image></a></div>
<ul class="tnb">
  <li class="log">
    <div class="logos"><b><span>
     <% if user_signed_in? %>
     <%= link_to "LOGOUT", destroy_user_session_path, style:"text-decoration:none !important; color:#d1cabc; font-family: 'WONDotum'; font-weight:bold;" %>
    <% else %>
    <%= link_to "LOGIN", new_user_session_path, style:"text-decoration:none !important; color:#d1cabc; font-family: 'WONDotum'; font-weight:bold;" %>
    <% end %>
    </span></div></b>
    </li>
</ul>
</div>

<!--상단바-->
     <ul class="nav">
       <div class="menu">
        <li><a class="active" href="beer"><div class="logos"><b>B<span>EE</span><span>R</span></b></div></a></li>
        <li><a href="brewery"><div class="logos"><b><span>BR</span>EW<span>ERY</span></b></div></a></li>
        <li><a href="community"><div class="logos"><b><span>COM</span>MU<span>NI</span>TY</b></div></a></li>
        
        <li class="dropdown">
    <a href="mypage" class="dropbtn"><div class="logos"><b><span>MY </span>P<span>AG</span>E</b></div></a>
    <div class="dropdown-content">
      <a href="beertap" style="color:black;">Beer Tap</a>
      <a href="mywriting" style="color:black;">작성글</a>
      <a href="#" style="color:black;">스크랩</a>
      <a href="mypage" style="color:black;">info</a>
      </div>
    </div>
  </li>
</ul>
</div>